{% extends 'base.html' %}
{% block body %}
  <div id='container'></div>
  <script>
      Highcharts.chart('container', {
          chart: {
              backgroundColor: 'rgba(0, 0, 0, 0)',
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: '您的投資資產配置'
          },
          tooltip: {
              pointFormat: '佔{series.name}的<b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: false
                  },
                  showInLegend: true
              }
          },
          series: [
              {
                name: '投資資產',
                colorByPoint: true,
                data: [
                    {
                        name: '股票',
                        y: 50000,
                    }, 
                    {
                        name: '基金',
                        y: 30000
                    },
                    {
                        name: '外匯',
                        y: 30000
                    },
                    {
                        name: '定存',
                        y: 100000
                    },
                    {
                        name: '保險',
                        y: 30000
                    }
                ]
            }
        ]
      });
  </script>
{% endblock %}