<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your charts</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <style>
    html, body {
        width: 100%;
    }
  </style>
</head>
<body>
  <div id='container'></div>
  <script>
      Highcharts.chart('container', {
          chart: {
              backgroundColor: 'rgba(0, 0, 0, 0)',
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: '您的投資資產配置'
          },
          tooltip: {
              pointFormat: '佔{series.name}的<b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: false
                  },
                  showInLegend: true
              }
          },
          series: [{
              name: '投資資產',
              colorByPoint: true,
              data: [{
                  name: '股票',
                  y: 50,
              }, {
                  name: '基金',
                  y: 30
              }]
          }]
      });
  </script>
</body>
</html>